<template>
  <el-container>
    <el-main>
      <el-row type="flex" justify="space-between" align="middle">
        <el-col :span="17">
          <el-row type="flex" justify="start" align="middle">
            <img src="img/logo.png" id="logo"/>
            <h1 id="text1">Daoing</h1>
            <span id="text2"> Faucet</span>
          </el-row>

        </el-col>
        <el-col :span="8" style="text-align: end">
          <span id="account" @click="walletConnect">{{ shortAccount }}</span>
        </el-col>

      </el-row>
      <el-row type="flex" align="middle" justify="center">
        <el-col>
          <img id="faucet" src="/img/faucet.png"/>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" justify="center">
        <el-col :span="24">
          <p id="descriptions">Get BSC testnet Daomocktoken for testing and exploring daoing feature. For example:
            transfer token, send red packet and etc.</p>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" justify="center">
        <el-col :span="24" class="inputField">
          <div class="size-input-wrapper">
            <label for="input-validation" id="inputLable">Your Wallet Address</label>
            <el-input v-model="input" placeholder="Your Wallet Address" suffix="abcd" type="text"></el-input>
            <span class="pxSpan" v-on:click="pasteToClipboard">Paste</span>
          </div>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" justify="center">
        <el-col :span="24">
          <div class="roundBtn" @click="claimERC20">Send me 20 testnet Daomocktoken</div>
        </el-col>
      </el-row>
    </el-main>
  </el-container>
</template>

<script>
import {store} from "@/store";
import {Loading} from "element-ui";
import {DAOTokenAddress} from "~/constants";
import Web3 from "web3";

export default {
  data() {
    return {
      input: ''
    }
  },
  created: async function () {
    await this.connectWallet()
  },
  computed: {
    account: {
      get: function () {
        const acc = store.getters['user/account']
        return acc
      },
      set: function () {
      }
    },
    shortAccount: {
      get: function () {
        if (!this.account) {
          return "Not Connected"
        }
        return `${this.account.substring(0, 5)}...${this.account.substring(this.account.length - 4, this.account.length)}`
      },
      set: function () {
      }
    },
  },
  watch: {
    account: function (val) {
      if (this.$wallet.isAccountExists(val)) {
        this.input = val
      }
    }
  },
  methods: {
    async walletConnect() {
      await this.$wallet.walletConnect()
    },
    async connectWallet() {
      if (typeof window !== 'undefined') {
        const account = localStorage.getItem('account')
        if (account && account !== "" && account !== null)
          await this.walletConnect()//only connect to user's wallet automatically if it was connected before
      }
    },
    async pasteToClipboard() {
      const copiedText = await navigator.clipboard.readText();
      this.input = copiedText
    },
    async claimERC20() {
      if (!Web3.utils.isAddress(this.input)) {
        this.$notify({
          type: "error",
          title: "Invalid address",
          position: "bottom right"
        });
        return
      }
      const loadingInstance = Loading.service({
        text: "Processing",
      })
      try {
        const that = this
        const amountToClaim = "20000000000000000000" //20 tokens
        const contract = await this.$wallet.getFaucetContract()
        await contract.methods.claimERC20(DAOTokenAddress, that.input, amountToClaim).send({from: that.input})
          .on('transactionHash', function (hash) {
          })
          .on('receipt', async function (receipt) {
            loadingInstance.close()
            that.$notify({
              type: "success",
              title: "20 Tokens has been claimed successfully",
              position: "bottom right"
            });
          })
      } catch (e) {
        loadingInstance.close()
        switch (e.code) {
          case 4001:
            this.$notify({
              type: "error",
              title: "Transaction rejected",
              position: "bottom right"
            });
            break
          default:
            this.$notify({
              type: "error",
              title: "Something went wrong, please try again later",
              position: "bottom right"
            });

        }
        console.log(e)
      }
    }
  }
}
</script>

<style lang="scss">
#faucet {
  display: block;
  width: 50%;
  margin: 4vh auto;
}

#account {
  text-align: end;
  text-decoration: underline;
}

#logo {
  width: 3.5vh;
  margin-right: 1vh;
}

#text1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 2.5vh;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #000000;
  padding-right: 7px;
}

#text2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 2.5vh;
  line-height: 20px;
  align-items: center;
  color: #000000;
}

#descriptions {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 2vh;
  line-height: 130%;
  color: #000000;
}

.roundBtn {
  background: #1745e8;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 2.1vh;
  line-height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  border-radius: 30px;
  padding: 15px 35px;
  position: relative;
  gap: 10px;
  text-align: center;
}

.size-input-wrapper {
  margin-top: 1vh;
  margin-bottom: 4vh;
  position: relative;
  display: inline-block;
}

#inputLable {
  padding-right: 35px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8vh;
  line-height: 14px;
  color: #696969;
}

.pxSpan {
  position: absolute;
  top: 57%;
  right: 7%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1.9vh;
  color: #000000;
}

.el-input__inner {
  height: 12vw;
  margin-top: 1vh;
  padding-right: 68px;
}
</style>
